{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'colaboradores/css/style.css'%}">
    <link rel="stylesheet" href="{% static 'colaboradores/css/setores.css'%}">
    <title>Colaborador RCS</title>
    
</head>
<body>

    <div class="container">
        <!-- Barra lateral de navegação -->
        <aside class="sidebar">
            <div class="sidebar-header">
                <h2>COLABORADORES</h2>
                <p>RCS</p>
            </div>
            
            <ul class="sidebar-menu">
                <li><a href="{% url 'enc_home'%}"><i>🏠</i> HOME</a></li>
                <li><a href="" class="active" ><i>👥</i> COLABORADORES</a></li>
                <li><a href="{% url 'enc_setores' %}"><i>🏢</i> SETORES </a></li>
                <li><a href="{% url 'enc_uniformes' %}"><i>👕</i> UNIFORMES </a></li>
                <li><a href="{% url 'enc_ferias'%}"><i>🏖️</i> FÉRIAS </a></li>
                
            </ul>
            
            <div class="sidebar-credits">
                DESENVOLVIDO POR DIEGO
            </div>
        </aside>
        
        <!-- Conteúdo principal -->
        
        <main class="main-content">
            <div class="content-wrapper">
                <header class="header">
                    <h2>Lista de Colaboradores</h2>
                    <div class="user-info">
                        <span>Usuário: Admin</span>
                        <button class="logout-btn" onclick="window.location.href='login.html'">SAIR</button>
                    </div>
                </header>
                
                <div class="search-bar">
                    <input type="text" placeholder="Pesquisar colaborador...">
                    <button>Pesquisar</button>
                </div>
                
                

                {% for funcionario in funcionarios %}
                
                    <div class="collaborators-list">
                        <!-- Exemplo de item de colaborador -->
                        
                        <div class="collaborator-item">
                            <div class="collaborator-info">
                                <div class="collaborator-field"><strong>Matrícula:</strong> {{funcionario.matricula_funcionario}}</div>
                                <div class="collaborator-field"><strong>Nome:</strong> {{funcionario.nome_funcionario}}</div>
                                <div class="collaborator-field"><strong>Banheirista:</strong> {{funcionario.status}}</div>
                                <div class="collaborator-field"><strong>Ferias:</strong> {{funcionario.ferias}}</div>
                                <div class="collaborator-field"><strong>Setor:</strong>{{funcionario.setores.setor}} </div>
                            </div>
                            <div class="collaborator-actions">
                                <a href="{% url 'setor_colaborador' funcionario.pk %}" class="btn btn-edit">Adicionar Setor</a>
                                <a href="{% url 'editar_funcionario' funcionario.pk %}" class="btn btn-edit">Editar</a>
                                <a href="{% url 'excluir_funcionario' funcionario.pk %}" class="btn btn-delete" >Excluir</a>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <div class="setor-item">Nenhum funcionario cadastrado</div>
                        
                {% endfor%}

            </div>
            
            <footer class="footer">
                <p>© 2023 COLABORADORES RCS - Todos os direitos reservados</p>
            </footer>
        </main>
    </div>
</body>
</html>
